.futures {
  width: 100%;
  .futures__wrapper {
    position: relative;
    margin-bottom: -100px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    width: 100%;
    padding: 50px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(221, 207, 207);
    z-index: 222  ;

    .futures__content {
      width: 35%;
      height: auto;
      .futures__content__title {
        font-family: Rubik;
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
        color: #0b132a;
      }
      .futures__content__text {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #4f5665;
        margin-top: 20px;
      }
    }
    .futures__btn {
      width: 270px;
      height: 116px;
      display: flex;
      align-items: center;
      .futures__btn__item {
        width: 250px;
        height: 60px;
        border-radius: 10px;
        color: white;
        background: #f53838;
        border: none;
      }
    }
  }
}
@media (max-width: 773px) {
  .futures {
    width: 100%;
    .futures__wrapper {
      width: 100%;
      padding: 50px 20px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .futures__content {
        width: 35%;
        height: auto;
        .futures__content__title {
          font-family: Rubik;
          font-size: 25px;
          font-weight: 300;
          line-height: 35px;
          color: #0b132a;
        }
        .futures__content__text {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          color: #4f5665;
          margin-top: 20px;
        }
      }
      .futures__btn {
        width: 270px;
        height: 116px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .futures__btn__item {
          width: 150px;
          height: 40px;
          border-radius: 10px;
          color: white;
          background: #f53838;
          border: none;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .futures {
    width: 100%;
    .futures__wrapper {
      width: 100%;
      padding: 50px 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #df9c9c;
    //   border: 1px solid red;

      .futures__content {
        width: 35%;
        height: auto;
        text-align: center;
        .futures__content__title {
          font-family: Rubik;
          font-size: 17px;
          font-weight: 200;
          line-height: 25px;
          color: #0b132a;
        }
        .futures__content__text {
          font-family: Rubik;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          color: #4f5665;
          margin-top: 10px;
        }
      }
      .futures__btn {
        width: 270px;
        height: 116px;
        display: flex;
        .futures__btn__item {
          width: 150px;
          height: 40px;
          border-radius: 10px;
          color: white;
          background: #f53838;
          border: none;
          margin: auto;
        }
      }
    }
  }
}
