
.header{
   background: #1b080885;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter:blur(10px);
}
.navbar{
    display: flex;
    height: 70px;
    align-items: center;
    color: #f7f3f3;
    justify-content: space-between;
   
    &__collection{
        display: flex;
        gap: 40px;
         .navbar__item {
      &:hover {
        color: rgb(53, 126, 126);
      }
    }
        @media (max-width: 990px) {
            position: fixed;
            top: 0;
            left: -350px;
            width: 350px;
            background: #f1f1f1;
            color: #000;
            height: 100vh;
            flex-direction: column;
            padding: 30px;
            transition: .5s;
        }
        @media (max-width: 500px){
            width: 70%;
        }
    }
    .show{
        left: 0;
    }
    &__menu{
        display: none;
        @media (max-width: 990px) {
            display: block;
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            background: #1b0808;
            margin-bottom: 3px;
            border-radius: 6px;
        }
    }
    .navbar__sign {
  display: flex;
  align-items: center;
  @media (max-width: 700px){
    flex-direction: column;
    padding-top: 20px;
  }
  @media (max-width: 500px){
    display: none;
}
        
        .navbar__btn {
          background: inherit;
          color: rgb(236, 218, 218);
          border: none;
          width: 150px;
    height: 45px;
    &:hover {
      border: 1px solid red;
      color: red;
      border-radius: 25px;
      cursor: pointer;
    }
  }
}
}

